[Unit]
Description=Run gbaldraw.cr executable for gbaldraw.fun
After=network.target

[Service]
Type=simple
User=deploy
WorkingDirectory=/home/gbaldraw/gbaldraw.cr
Environment="SSL_KEY_FILE=/etc/letsencrypt/live/gbaldraw.fun/privkey.pem SSL_CERT_FILE=/etc/letsencrypt/live/gbaldraw.fun/fullchain.pem AMBER_ENV=production"
ExecStart=/home/gbaldraw/gbaldraw.cr/bin/gbaldraw.cr
Restart=always

[Install]
WantedBy=multi-user.target