[Unit]
Description=Run openloft.cr executable for gbaldraw.fun
After=network.target

[Service]
Type=simple
User=gbaldraw
WorkingDirectory=/home/gbaldraw/openloft.cr
Environment="AMBER_ENCRYPTION_KEY=odzCnBFRMFwITASkUq_cOThhaxDc0zkjYTM_67O15AM" "AMBER_ENV=production"
ExecStart=/home/gbaldraw/openloft.cr/bin/openloft.cr
Restart=always

[Install]
WantedBy=multi-user.target