
<h1><%= I18n.translate("privacy_policy") %></h1>

<ol>
    <li><%= I18n.translate("no_censorship") %></li>
    <li><%= I18n.translate("no_tracking") %></li>
    <li><%= I18n.translate("no_personal_information") %></li>
    <li><%= I18n.translate("no_foreign_trackers") %></li>
    <li><%= I18n.translate("minimal_library_usage") %></li>
    <li><%= I18n.translate("no_illegal_usage") %></li>
</ol>