
<h1>Privacy Policy</h1>

<ol>
    <li>No censorship</li>
    <li>No moderation</li>
    <li>No tracking</li>
    <li>No Anti-Free Speech</li>
    <li>No collection of personal information</li>
    <li>No foreign tracking software</li>
    <li>Minimal libraries usage (very few)</li>
    <li>No illegal usage of software allowed (Laws of USA apply)</li>
</ol>