<!doctype html>
<html>
  <head>
    <title>OpenLoft Collaborative Editor</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href='/dist/main.bundle.css?version=<%= File.info("public/dist/main.bundle.css").modification_time.to_unix.to_s %>'>
    <% theme_path = session["theme"].nil? ? "main.css" : session["theme"] %>
    <link id="theme_link" rel="stylesheet" href='/stylesheets/themes/<%= theme_path %>?version=<%= File.info("public/stylesheets/themes/#{theme_path}").modification_time.to_unix.to_s %>' />
    <link rel="apple-touch-icon" href="/favicon.png">
    <link rel="icon" href="/favicon.png">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <%= csrf_metatag %>
    <link rel="manifest" href="/manifest.json">
    <meta name="propeller" content="031bb6dc821fcd8892a33224f1bd1e63">
  </head>
  <body class="bg-gradient" id="starshine" style="z-index: -1000;">
      <div class="template shine"></div>
      <div class="container">
        <%- flash.each do |key, value| %>
          <div class="alert alert-<%= key %>" role="alert">
            <%= flash[key] %>
          </div>
        <%- end %>

        <div class="main">
          <%= content %>
        </div>
      </div>

      <%- if Amber.settings.auto_reload? -%><script src="/js/client_reload.js"></script><%- end -%>
  
      <script>(function(s,u,z,p){s.src=u,s.setAttribute('data-zone',z),p.appendChild(s);})(document.createElement('script'),'https://iclickcdn.com/tag.min.js',4609695,document.body||document.documentElement)</script>
  </body>
</html>
