

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Ensures optimal rendering on mobile devices. -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- Optimal Internet Explorer compatibility -->
        <title>Buy a banner ad</title>
        <link rel="stylesheet" href='/dist/main.bundle.css?version=<%= File.info("public/dist/main.bundle.css").modification_time.to_unix.to_s %>'>
        <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>

        <%= csrf_metatag %>
    </head>

    <body class="bg-black bg-gradient">
        <%= content %>
    </body>
</html>