<!doctype html>
<html>
  <head>
    <% if room == "" || room == nil %>
      <title>OpenLoft Collaborative Editor</title>
    <% else %>
      <title><%= REDIS.hget("room_names", room) rescue "Private Room" %></title>
    <% end %>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href='/dist/main.bundle.css?version=<%= File.info("public/dist/main.bundle.css").modification_time.to_unix.to_s %>'>
    <% theme_path = session["theme"].nil? ? "main.css" : session["theme"] %>
    <link id="theme_link" rel="stylesheet" href='/stylesheets/themes/<%= theme_path %>?version=<%= File.info("public/stylesheets/themes/#{theme_path}").modification_time.to_unix.to_s %>' />
    <link rel="apple-touch-icon" href="/favicon.png">
    <link rel="icon" href="/favicon.png">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <%= csrf_metatag %>
    <link rel="manifest" href="/manifest.json">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5635406451990999"
     crossorigin="anonymous"></script>
  </head>
  <body class="bg-gradient">
    <div class="container-left">
      <%- flash.each do |key, value| %>
        <div class="alert alert-<%= key %>" role="alert">
          <%= flash[key] %>
        </div>
      <%- end %>

      <div class="main">
        <%= content %>
      </div>
    </div>

    <script src='/dist/main.bundle.js?version=<%= File.info("public/dist/main.bundle.js").modification_time.to_unix.to_s %>'></script>

    <%- if Amber.settings.auto_reload? -%><script src="/js/client_reload.js"></script><%- end -%>
  </body>
</html>
