<!DOCTYPE html>
<html>
  <head>
    <title>Gbaldraw Public Whiteboard</title>
    <link rel="stylesheet" media="all" href="/application.css" />
    <script src="/application.js"></script>
    <%= csrf_metatag %>
  </head>

  <body class="bg-black bg-gradient">
    <%= content %>
  </body>
</html>
