<!DOCTYPE html>
<html>
  <head>
    <title>Stats Page</title>
    <link rel="stylesheet" href='/dist/main.bundle.css?version=<%= File.info("public/dist/main.bundle.css").modification_time.to_unix.to_s %>'>
  </head>

  <body class="bg-gradient" style="background-color: white">
    <%= content %>
  </body>
</html>
